@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center row">
        <div class="col-6">
            <partial name="_Registration.cshtml"/>
        </div>
        <div class="col-6">
            <partial name="_Login.cshtml"/>
        </div>
    </div>
</div>
