<div class="container">
    <div class="row">
        <div class="col-5">
            <img class="p-image-main" src="~/images/plants/hoya_carnosa_tricolor.png" alt="plant picture">
        </div>
        <div class="col-7">
            <h2>Hoja Carnosa Tricolor</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, non? Necessitatibus labore est odio doloribus facilis nihil, officia illum modi ipsam illo eius atque, ex expedita, iusto earum et temporibus.</p>
        </div>
    </div>
</div>